body{
    margin: 0;
}
.section_1{
    background-color: black;
    width: 100%;
    height: 950px;
    }
.block_1_1{
    float:left;
    width: 50%;
    background-color: black;
}
.block_2_1{
    width: 50%;
    float: right;
    background-color: black;
}
.img_box_1_1{
    border-right: 5px solid aqua;
    
}
.image_1{
    width: 23rem;
    margin-left: 20%;
}
.image_2{
    width: 23rem;
    margin-left: 10%;
    margin-top: 10%;
}
.text_box_1_1{
    color: white;
    margin-top: 25%;
    font-size: 13px;
    margin-left: 17%;
    padding: 30px;
}
.text_box_2_1{
    color: white;
    margin-left: 13%;
    margin-top: 5%;
}
.section_2{
    width: 100%;
    background-color: aqua;
    height: 1300px;
}
.block_1_2{
    float:left;
    width: 50%;
    background-color: aqua;
}
.block_2_2{
    width: 50%;
    float: right;
    background-color: aqua;
}
.text_box_1_2{
    margin-top: 15%;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
}
.image_3{
    width: 23rem;
    margin-left: 20%;
}
.image_4{
    width: 23rem;
   margin-top: 15%;
}
.text_box_2_2{
    font-size: 18px;
}
.image_5{
    width: 12rem;
   margin-left: 30%;
}
.img_box_3_2{
    border-left: 5px solid black;
}
.section_3{
    width: 100%;
    background-color: black;
    height: 300px;
    padding-top: 60px;
}
.block_1_3{
    width: 33%;
    background-color: black;
    float: left;
    color: white;
    
}
.text_box_1_3{
    margin-left: 10%;
}
.text_box_2_3{
    margin-left: 10%;
}
.text_box_2_3{
    margin-left: 10%;
}
.block_2_3{
    width: 33%;
     background-color: black;
    float: left;
     color: white;
}
.block_3_3{
    width: 33%;
     background-color: black;
    float:left;
     color: white;
}
.image_6{
    width: 6rem;
    margin-left: 10%;
    margin-top: 5%;
}
.image_7{
    width: 4rem;
    margin-top: 5%;
    margin-left: 10%;
}
.image_8{
    width: 3.4rem;
    margin-top: 5%;
    margin-left: 10%;
}
.block_1_4{
    text-align: center;
}
@media only screen and (max-width: 1200px){
    .section_1{
        background-color: black;
        width: 800px;
        height: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .image_1{
        margin: auto;
    }
    .image_2{
        margin: auto;
        margin-top: 15%;
    }
    .text_box_1_1{
        margin: auto;
    }
    .text_box_2_1{
        margin: auto;
    }
    .block_1_1{
    float:none;
    width: 100%;
    background-color: black;
}
     .block_2_1{
    float:none;
    width: 100%;
    background-color: black;
}
    .section_2{
        background-color: aqua;
        width: 800px;
        height: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .image_3{
        margin: auto;
    }
    .image_4{
        margin: auto;
        margin-top: 15%;
    }
     .image_5{
        margin: auto;
        margin-top: 15%;
    }
    .text_box_1_2{
        margin: auto;
    }
    .text_box_2_2{
        margin: auto;
        font-size: 30px;
    }
    .block_1_2{
    float:none;
    width: 100%;
    background-color: aqua;
}
     .block_2_2{
    float:none;
    width: 100%;
    background-color: aqua;
}
    .section_3{
        background-color: black;
        width: 800px;
        height: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .image_6{
        margin: auto;
        width: 12rem;
    }
    .image_7{
        margin: auto;
        width: 12rem;
        margin-top: 15%;
    }
     .image_8{
        margin: auto;
         width: 12rem;
        margin-top: 15%;
    }
    .text_box_1_3{
        margin: auto;
        font-size: 30px;
    }
    .text_box_2_3{
        margin: auto;
        font-size: 30px;
    }
    .text_box_3_3{
        margin: auto;
        font-size: 30px;
    }
    .block_1_3{
    float:none;
    width: 100%;
    background-color: black;
}
     .block_2_3{
    float:none;
    width: 100%;
    background-color: black;
}
    .block_3_3{
    float:none;
    width: 100%;
    background-color: black;
}
    .section_4{
        width: 800px;
        height: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .block_1_4{
         float:none;
    width: 100%;
    }
    .text_box_1_4{
        font-size: 35px;
    }
}
